@import "./../../index.global.scss";

.inputField {
    max-width: 100px;
    text-align: center;
}

.label {
    display: flex;
    justify-content: space-between;
    padding: $size16px 0;
}

.labelTitle {
    font-size: $size24px;
    cursor: pointer;
}
.errorInput,
.errorInput:hover,
.errorInput:focus {
    border: 1px solid $colorRedPrimary;
    box-shadow: 0 4px 12px 0 rgba(126,27,0,0.1);
}

.error {
    color: $colorRedPrimary;
}
