.inputLable {
    color: white;
    font-size: 24px;
    width: 100%;
    margin-bottom: 16px;
    border: 2px solid dodgerblue;
    border-radius: 5px;
}
.input:last-child {
    margin-bottom: 0;
}
.label {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
}
.labelTitle {
    font-size: 24px;
    cursor: pointer;
}
.superInput {
    border: 2px solid dodgerblue;
    max-width: 100px;
    color: #333;
    background: #eaeaea;
    height: 34px;
    border-radius: 3px;
    transition: background .3s;
    text-align: center;
}
.superInput:hover,
.superInput:focus {
    background-color: #fff;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2);
}

.errorInput:hover,
.errorInput:focus,
.errorInput {
    border: 1px solid rgba(163, 17, 0, 0.7);
    box-shadow: 0 4px 12px 0 rgba(126,27,0,0.1);
}

.error {
    color: red;
}

.button {

}
