* {
  box-sizing: border-box;
}
html  {
  font-size: 100%;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
body {
  margin: 0;
}

$colorBluePrimary: #0098EF;
$colorDarkPrimary: #121B22;
$borderRadius: 5px;

.App {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 100vh;
  background: lighten($colorDarkPrimary, 10%);
}

.AppWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1em;
  border: 2px solid $colorBluePrimary;
  border-radius: $borderRadius;
}

.AppInput {
  display: flex;
  width: 100%;
  padding: 1em;
  border: 2px solid $colorBluePrimary;
  border-radius: $borderRadius;
}

.AppInner {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 390px;
  min-height: 240px;
  margin-bottom: 1em;
  padding: 1em;
  color: $colorBluePrimary;
  font-weight: bold;
  font-size: 1.5em;
  border: 2px solid $colorBluePrimary;
  border-radius: $borderRadius;
}