* {
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #282C34;
}

.App-wrapper {
  min-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid dodgerblue;
  padding: 16px;
}

.App-input {
  display: flex;
  width: 100%;
  border: 2px solid dodgerblue;
  padding: 16px 16px;
  border-radius: 5px;
}

.App-inner {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  min-height: 168px;
  margin-bottom: 16px;
  width: 100%;
  border: 2px solid dodgerblue;
  color: dodgerblue;
  border-radius: 5px;
  padding: 16px;
}
.App-output {
  align-items: center;
}
.App-settings {
  flex-direction: column;
}
